<section class="listar-produtos">
    <h1>Lista de Produtos</h1>

    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Data de validade</th>
                    <th>Quantidade</th>
                    <th>É perecível?</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of produtos">
                    <td>{{ prod.nome }}</td>
                    <td>{{ prod.categoria }}</td>
                    <td>{{ prod.valor }}</td>
                    <td>{{ prod.validade }}</td>
                    <td>{{ prod.quantidade }}</td>
                    <td>{{ prod.perecivel }}</td>
                    <td>
                        <div class="options">
                            <i class="ri-pencil-fill"></i>
                            <i class="ri-delete-bin-fill"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Saco de Arroz</td>
                    <td>Alimentos</td>
                    <td>R$10,50</td>
                    <td>19/07/2002</td>
                    <td>20</td>
                    <td>Sim</td>
                    <td>
                        <div class="options">
                            <i class="ri-pencil-fill"></i>
                            <i class="ri-delete-bin-fill"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>