form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
}

form input, form select {
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 100px;
}

.input-nome input {
    width: 200px;
}

.input-valor input, .input-quantidade input {
    width: 70px;
}

input#valor::-webkit-outer-spin-button,
input#valor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-categoria select {
    width: 150px;
}

.input-validade input {
    width: 150px;
}

.input-perecivel .respostas input {
    width: 30px;
}